@font-face {
	font-family: sfpro-regular;
	src: url(./../fonts/Sf-pro-regular.otf);
}
@font-face {
	font-family: sfpro-bold;
	src: url(./../fonts/Sf-pro-bold.otf);
}
@font-face {
	font-family: sfpro-light;
	src: url(./../fonts/SF-Pro-Light.ttf);
}
@font-face {
	font-family: sfpro-thin;
	src: url(./../fonts/SF-Pro-Thin.otf);
}
@font-face {
	font-family: sfpro-semibold;
	src: url(./../fonts/SF-pro-Semibold.otf);
}
@font-face {
	font-family: sfpro-medium;
	src: url(./../fonts/SF-Pro-Medium.otf);
}
