.discount {
	margin-top: 80px;
	margin-bottom: 80px;
}
.container {
}
.discount__title {
	font-size: 24px;
	font-family: sf-medium;
	line-height: 1.3333;
	margin-bottom: 32px;
}
.headline-4 {
}
.products__cards {
}
