@font-face {
	font-family: sf-regular;
	src: url(./../fonts/Sf-pro-regular.otf);
}
@font-face {
	font-family: sf-bold;
	src: url(./../fonts/Sf-pro-bold.otf);
}
@font-face {
	font-family: sf-semibold;
	src: url(./../fonts/SF-pro-Semibold.otf);
}
@font-face {
	font-family: sf-light;
	src: url(./../fonts/SF-Pro-Light.ttf);
}
@font-face {
	font-family: sf-medium;
	src: url(./../fonts/SF-Pro-Medium.otf);
}
@font-face {
	font-family: sf-thin;
	src: url(./../fonts/SF-Pro-Thin.otf);
}
